<p style="color: green"><%= notice %></p>

<%= render @recipe_note %>

<div>
  <%= link_to "Edit this recipe note", edit_recipe_note_path(@recipe_note) %> |
  <%= link_to "Back to recipe notes", recipe_notes_path %>

  <%= button_to "Destroy this recipe note", @recipe_note, method: :delete %>
</div>
